/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: auto;

  /*========== Colors ==========*/
  --hue: 270;                     
  --sat: 63%;
  --first-color:#1763e9;
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --normal-font-size: 1.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section__height {
  height: 100vh;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.nav__item a:hover{
    text-decoration: none;
}

.nav__menu {    /* Nav menu alltid nederst på skjermen (kunne hatt det i max-width)*/
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    display: grid;
    font-size: var(--normal-font-size);
    align-content: center;
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .4s;
  }


.nav__list, 
.nav__link {
  display: flex;
}

.nav__link {
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__icon {
  font-size: 2.0rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 4rem;
  }
}

